.logo {
    margin-right: 2px;
    padding: 2px;
    width: 160px; // Default width for md and above screens
    height: 60px; // Default height for md and above screens

    @media (max-width: 600px) {
        width: 120px; // Set width for xs screens
        height: auto; // Set height for xs screens
        margin-left: 0;
        padding-left: 0;
    }
}